/**
 * Place your custom CSS styles here.
 **/

.turbo-audio-btn {
  display: inline-block;
  padding: 6px 12px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1px 1px !important;
}

.turbo-btn-primary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.turbo-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.turbo-audio-controls {
  padding:5px;
  position:absolute;
  display:block;
  text-align:center;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  font-size: 14px;
  width: 450px;
}
