/**
 * Place your custom CSS styles here.
 **/

.turbo-audio-controls {
  padding:5px;
  position:absolute;
  display:block;
  text-align:center;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  font-size: 14px;
}
